<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="display: flex;">
        <div class="wrapper">
            {{ content }}
        </div>
        <div class="twitter">
            <a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark"
                href="https://twitter.com/thr3athunt3r?ref_src=twsrc%5Etfw">Tweets by thr3athunt3r</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>