---
layout: default
---

<div class="home">

  {{ content }}

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
  {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <div class="box home-box">
    <div class="post-list">
      {%- for post in posts -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h3>{{ post.title | escape }}</h3>
        <h5>{{ post.date | date: date_format }}</h5>
      </a>
      {%- endfor -%}
    </div>
  </div>

  {%- endif -%}

</div>